*{
 margin: 0;
 padding:0;
 box-sizing: border-box;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
}

.main-container {
  display: flex;
}
.form-container{
 display: flex;
 width:675px;
}
#evaluation-form{
 flex-direction: column;
 flex-wrap: wrap;
}
#trybewarts-forms-logo{
 height: 500px;
}
.fullName{
 display: flex;
 flex-flow: row wrap;
}
.emailAndHouse {
  display: flex;
 flex-flow: row wrap;
}